@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body {
  font-family: "Nunito", Arial, sans-serif;
  background: #f9f9f9;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #6e6e6e; 
  overflow-x: hidden !important;}

  header {
    background: #c5a880;  /* fallback colour. Make sure this is just one solid colour. */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

a, button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #c5a880;
  text-decoration: none; }


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-family: "Old Standard TT", Arial, sans-serif; }

.text-primary {
  color: #c5a880 !important; }

  
.what3 {
  color: red !important;
  font-size: 24px !important;
}

/* Button back to top with js */

#btn-back-to-top {
  position: fixed;
  top: 40px;
  right: 30px;
  border-radius: 50% 50% 20% 20%;
  display: none;
  opacity: 0.5;
  }

/* Navbar in the header sections */

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0; }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #222222 !important;
      position: relative;
      top: 0;
      padding: 7px 0; } }
  .ftco-navbar-light .navbar-brand {
    color: #fff;
    padding-top: .7rem;
    padding-bottom: .7rem; }
    .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
      color: #000000 !important; }
    @media (max-width: 767.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 0; } }
  .ftco-navbar-light .navbar-nav .navbar-collapse:hover {
    display: block;
    margin-top: 0;
    color: blue;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 25px;
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
  
    text-transform: uppercase;
    letter-spacing: 2px; }
    @media(max-width: 1110px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 13px;
      padding-left: 10px; 
    }  
  } 
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #ffd9a4;
      transform: scale(1.2);
       }

    @media (max-width:575.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        transform: none;
         }
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
      position: relative;
      display: block;
      padding-bottom: 2px; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
          display: inline-block; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1rem;
        padding-top: 0;
       
        color: #fff; }}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link.active {
      color: white !important;
      font-size: 15px !important;
     font-style: italic;}
  @media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #fff;
      background: transparent; } }
  .ftco-navbar-light .btn-custom {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.1);
    padding: 4px 10px;
    color: #fff;
    border-radius: 2px; }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
      text-decoration: none;
      color: white;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }

.navbar-brand {
  font-weight: 900;
  font-size: 30px;
  z-index: 3;
  position: relative; }
  @media (max-width: 575.98px) {
    .navbar-brand {
      line-height: 1; } }
  .navbar-brand span {
    color: #fff;
    display: block;
    line-height: 1.1; }

/* Hero wrap  on the header section */

.hero-wrap {
  height: 100%;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: 0; }
@media (max-width: 575.98px) {
  .hero-wrap {
    height: 700px;
  }
}
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: #222222;
    z-index: -1; }
  .hero-wrap.hero-wrap-2 {
    min-height: auto;
    height: 700px; }
    .hero-wrap.hero-wrap-2 .overlay {
      opacity: .4; }
    .hero-wrap.hero-wrap-2 .slider-text {
      min-height: auto;
      height: 700px; }
  .hero-wrap .slider-text {
    height: 100vh;
    min-height: 750px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 3; }
    .hero-wrap .slider-text .subheading {
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px; }
    .hero-wrap .slider-text h1, .hero-wrap .slider-text .h1 {
      font-weight: 700;
      color: #fff;
      font-size: 80px;
      line-height: 1.2; }
      @media (max-width: 767.98px) {
        .hero-wrap .slider-text h1, .hero-wrap .slider-text .h1 {
          font-size: 40px; } }
    @media (max-width: 575.98px) {
      .hero-wrap .slider-text .btn {
        width: 100%;
        display: block;
        margin-bottom: 5px; } }
    .hero-wrap .slider-text .breadcrumbs {
      font-size: 14px;
      margin-bottom: 10px;
      z-index: 99;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8); }
      .hero-wrap .slider-text .breadcrumbs span {
        color: rgba(255, 255, 255, 0.8); }
        .hero-wrap .slider-text .breadcrumbs span i {
          color: rgba(255, 255, 255, 0.8);
          font-size: 12px; }
        .hero-wrap .slider-text .breadcrumbs span a {
          color: rgba(255, 255, 255, 0.8); }
          .hero-wrap .slider-text .breadcrumbs span a:hover, .hero-wrap .slider-text .breadcrumbs span a:focus {
            color: #c5a880; }
            .hero-wrap .slider-text .breadcrumbs span a:hover i, .hero-wrap .slider-text .breadcrumbs span a:focus i {
              color: #c5a880; }
   
/* General background colors and buttons */

.bg-light {
  background: #f8f8f8 !important; }

.bg-primary {
  background: #c5a880; }

.bg-black {
  background: #000000; }

.bg-secondary {
  background: #c5a880; }

.bg-darken {
  background: #222222 !important; }

.btn {
  padding: 9px 12px;
  cursor: pointer;
  border-radius: 0;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #c5a880 !important;
    border: 1px solid #c5a880 !important;
    color: #000 !important; }
    .btn.btn-primary span {
      color: rgba(0, 0, 0, 0.884) !important;
      font-size: 16px;
      line-height: 1;
      margin-left: 10px; }
    .btn.btn-primary:hover {
      border: 1px solid #c5a880;
      background: #c5a880 !important;
      color: white !important;}
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #c5a880 !important;
      background: transparent !important;
      color: #c5a880 !important; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent !important;
        background: #c5a880 !important;
        color: #fff !important; }
  
/* Contact.html contact form */

.form-control {
  height: 45px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:focus, .form-control:active {
    border-color: #c5a880 !important; }

textarea.form-control {
  height: inherit !important; }

.ftco-booking {
  margin-top: -80px; }

/* Icons index.html with services */

.services {
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  border-radius: 50% 50% 50% 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06); }
  @media (max-width: 1199.98px) {
    .services {
      margin-bottom: 20px; } }
  @media (max-width: 767.98px) {
    .services {
      border-radius: 2px;
      margin-bottom: 10px; } }

  .services .icon {
    margin-bottom: 8px; }
    .services .icon span {
      font-size: 70px;
      line-height: 1.2;
      color: #c5a880; }
  @media (max-width: 575.98px ){
        .services {   
          padding: 4px;
        } 
        .services .icon span {
          font-size: 20px;
        }
      }
  .services .text {
    width: 100%; }
    .services .text h2, .services .text .h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
      font-family: "Nunito", Arial, sans-serif; }
  .services:hover {
    background: #c5a880;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18); }
    .services:hover .icon span {
      color: #fff; }
    .services:hover .text h2, .services:hover .text .h2 {
      color: #fff; }

/* Cottages descriptions section with images in index.html, the-barn.html and the-cottage.html */

.room-wrap {
  background: #fff;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 575.98px) {
    .room-wrap {
      margin-bottom: 40px; } }
  .room-wrap .img {
    display: block;
    width: 100%;
    height: 280px;
    position: relative;
    z-index: 0; }
    .room-wrap .img.img-room:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: 0;
      background: #222222;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .room-wrap .text {
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0; }
    .room-wrap .text h3, .room-wrap .text .h3 {
      font-size: 30px;
      margin-bottom: 10px; }
      .room-wrap .text h3 a, .room-wrap .text .h3 a {
        color: #000000;
        font-weight: 400; }
    .room-wrap .text ul {
      margin-top: -25px;
      border-radius: 4px;
      padding: 10px 0;
      background: #fff;
      -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06); }
      .room-wrap .text ul li {
        font-size: 16px;
        margin-right: 10px;
        display: inline-block;
        list-style: none; }
        .room-wrap .text ul li span {
          margin-right: 5px; }

  .room-wrap:hover {
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.08); 
    /* my own added style */
    background-color: rgba(0, 0, 0, 0.966);
    color: rgba(255, 255, 255, 0.9);}
    .room-wrap:hover img {
      opacity: 0.5;;
    }
 

    .room-wrap:hover .text {
      background: #222222;
      color: rgba(255, 255, 255, 0.9); }
      .room-wrap:hover .text h3 a, .room-wrap:hover .text .h3 a {
        color: #fff; }
      .room-wrap:hover .text .btn-custom {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.1); }
    .room-wrap:hover .img:after {
      opacity: .5; }

/* Room section with carousel highlights features */
.list {
  padding: 0; }
  .list li {
    list-style: none; }
    .list li span {
      color: #222222; }

/* Table with hearts -Reviews and Ratings */

.rate i {
  color: #c5a880;
  margin: 0 4px; }

.blog-img {
  display: block;
  width: 100px;
  height: 100px;
}

/* Video section */

.vid-section {
  height: 600px;
  position: relative;
  z-index: 0; }
  .vid-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background: #222222;
    opacity: .5; }

.video-wrap .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px; }

.video-wrap h3, .video-wrap .h3 {
  color: #fff;
  font-weight: 400;
  font-size: 70px; }

.vid-height {
  height: 600px; }

.video-icon {
  width: 80px !important;
  height: 80px;
  border-radius: 50%;
  display: block;
  background: #c5a880;
  margin: 0 auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite; }
  .video-icon span {
    color: #fff;
    font-size: 50px;
    line-height: 1; }

.ftco-section {
  padding: 4em 0;
  position: relative;
  width: 100%;
  overflow-x: hidden; }
  @media (max-width: 575.98px) {
    .ftco-section {
      padding: 3em 0; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.ftco-bg-dark {
  background: #222222; }


/* Gallery and masonry sections index.html the-barn.html the-cottage.html */
.ftco-gallery .gallery-wrap {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  z-index: 0;
  margin-bottom: 15px; }
  .ftco-gallery .gallery-wrap:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background: #000000;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .ftco-gallery .gallery-wrap .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c5a880;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0; }
    .ftco-gallery .gallery-wrap .icon span {
      color: #fff; }
  .ftco-gallery .gallery-wrap:hover:after {
    opacity: .3; }
  .ftco-gallery .gallery-wrap:hover .icon {
    opacity: 1; }

/* Footer */

.ftco-footer {
  padding: 4em 0 0 0;
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.7); }
  .ftco-footer .logo a {
    position: relative;
    text-decoration: none; }
  .ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget .h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Nunito", Arial, sans-serif; }
  .ftco-footer .ftco-footer-widget ul li a{
    margin-bottom: 10px; }
    
    .ftco-footer .ftco-footer-widget ul li a {
      color: rgba(255, 255, 255, 0.7); }
      .ftco-footer .ftco-footer-widget ul li a span {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7); }
      .ftco-footer .ftco-footer-widget ul li a:hover {
        color: #c5a880; }
        .ftco-footer .ftco-footer-widget ul li a:hover span {
          color: #c5a880; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer .block-23 ul {
    padding: 0; }
    .ftco-footer .block-23 ul li {
      font-size: 15px; }
      .ftco-footer .block-23 ul li, .ftco-footer .block-23 ul li > a {
        display: table;
        line-height: 1.5;
        margin-bottom: 15px;
        font-size: 15px; }
      .ftco-footer .block-23 ul li span {
        color: rgba(255, 255, 255, 0.7);
        color: #c5a880; }
      .ftco-footer .block-23 ul li .icon, .ftco-footer .block-23 ul li .text {
        display: table-cell;
        vertical-align: top;
        color: rgba(255, 255, 255, 0.8) !important; }
      .ftco-footer .block-23 ul li .icon {
        width: 40px;
        font-size: 15px;
        padding-top: 2px;
        color: #c5a880 !important; }
  .ftco-footer .bg-darken {
    background: #151515 !important; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 5px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    color: #c5a880;
    border-radius: 2px;
    position: relative;
    background: rgba(255, 255, 255, 0.05); }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #c5a880 !important; }
    .ftco-footer-social li a:hover {
      color: #c5a880; }



@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(197, 168, 128, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0.4);
    box-shadow: 0 0 0 0 rgba(197, 168, 128, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(197, 168, 128, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(197, 168, 128, 0);
    box-shadow: 0 0 0 30px rgba(197, 168, 128, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(197, 168, 128, 0);
    box-shadow: 0 0 0 0 rgba(197, 168, 128, 0); } }

.heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #c5a880;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px; }

.heading-section h2, .heading-section .h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.4; }
  .heading-section h2 span, .heading-section .h2 span {
    font-weight: 400; }
  @media (max-width: 575.98px) {
    .heading-section h2, .heading-section .h2 {
      font-size: 38px; } }

.heading-section.heading-section-white .subheading {
  color: #c5a880; }

.heading-section.heading-section-white h2, .heading-section.heading-section-white .h2 {
  color: #fff; }

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* Testimonmy seciton */

.testimony-section {
  position: relative;
  z-index: 0; }
  .testimony-section .tns-outer {
    position: relative;
    padding-bottom: 3em !important; }
  .testimony-section .tns-ovh {
    padding: 2em 0 0 0; }
  .testimony-section .tns-controls {
    text-align: center;
    margin-bottom: 10px; }
  .testimony-section .tns-nav {
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99; }
  .testimony-section .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0; }
  .testimony-section .tns-outer [aria-controls], .testimony-section .tns-outer [data-action] {
    cursor: pointer; }
  .testimony-section .tns-nav > .tns-nav-active {
    background: #999; }

.testimony-wrap {
  display: block;
  position: relative;
  background: white;
  padding: 35px 30px 30px 30px !important;
  border-radius: 4px;
  width: 98%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.17); }
  .testimony-wrap .icon {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c5a880; }
    .testimony-wrap .icon span {
      color: #fff; }
  .testimony-wrap .tx {
    width: calc(100% - 80px); }
  .testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%; }
  .testimony-wrap .name {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    color: #222222; }
  .testimony-wrap .position {
    font-size: 13px;
    text-transform: uppercase;
    color: #c5a880;
    font-weight: 600; }

.star {
  color: #c5a880; }

@media (max-width: 575.98px) {
  .about-image {
    height: 400px;
    margin-bottom: 30px; } }

.ftco-about-section .img {
  height: 230px; }

/* About sections index.html about.html */

.ftco-about-section .f-services {
  width: 100%;
  padding: 0; }
  .ftco-about-section .f-services .icon {
    margin-bottom: 8px; }
    .ftco-about-section .f-services .icon span {
      font-size: 60px;
      line-height: 1.2;
      color: #c5a880; }
  .ftco-about-section .f-services .text {
    background: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06); }
    .ftco-about-section .f-services .text h3, .ftco-about-section .f-services .text .h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px; }
  .ftco-about-section .f-services:hover .text {
    background: #222222;
    color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18); }
  .ftco-about-section .f-services:hover .text h3, .ftco-about-section .f-services:hover .text .h3 {
    color: #fff;}

/* Sidebars the-barn.html the-cottage.html */

.sidebar-box {
      margin-bottom: 30px;
      padding: 10px;
      font-size: 15px;
      width: 100%; }
.sidebar-box .blog-img{
    display: block;
    height: 100px;
    width: 100px; 
}
.sidebar-box *:last-child {
        margin-bottom: 0; }
.sidebar-box h3, .sidebar-box .h3 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: "Nunito", Arial, sans-serif; }
    
        .categories, .sidelink {
          padding: 0; }
          .categories li, .sidelink li {
            position: relative;
            margin-bottom: 5px;
            padding-bottom: 5px;
            list-style: none;
            font-size: 13px;
            font-weight: 600;
            font-family:"Nunito", Arial, sans-serif;
            font-weight: bold;
            /* letter-spacing: 0px; */
            text-transform: uppercase; }
            .categories li:last-child, .sidelink li:last-child {
              margin-bottom: 0;
              border-bottom: none;
              padding-bottom: 0; }
  
              /* SIDEBAR - FACILITIES AND CATEGORIES ACCORDION SMALL AND MEDIA SCREENS */

    .accordion-body {
                background: #f9f9f9;
              }
    .accordion-body .card-body {
                background: #f9f9f9;
                border:none;
              }
          
    .accordion-item .accordion-button {
                font-size: 16px !important;
                font-family: "Nunito", Arial, sans-serif;
                padding: 20px;
              }            
           
  /* MASONRY */

.ftco-gallery .grid-wrapper .gallery-wrap {
  width: 100%;
  height: 100%;
      }

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
      }
    .grid-wrapper .wide {
        grid-column: span 2;
      }
    .grid-wrapper .tall {
        grid-row: span 2;
      }
    .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
      }

  @media (max-width: 575.98px){

    .grid-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-rows: 150px;
    }
      .grid-wrapper .wide {
          grid-column: span 1;
        }
      .grid-wrapper .tall {
          grid-row: span 1;
        }  
      .grid-wrapper .big {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
   /* SOCIAL BUTTONS contact.html page */

    .social-buttons a{
      font-size: 24px;
      width: 60px;
      height: 60px;
    }

