
/* font-family: 'Nunito', sans-serif;
font-family: 'Old Standard TT', serif; */

body {
    font-family: 'Nunito', sans-serif;
    background: #F8F8F8;
   
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
    font-family: 'Old Standard TT', serif;
    font-weight: 400;    
}

a {
	color: black;
	text-decoration: none;
}

header {
    height: 900px;
    width: 100vw;
    background: black;
    overflow: hidden;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    /* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("images/background-image-banner.jpg");
    background-size: cover; */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(167, 177, 164, 0.8)), url("images/home-the-lake.webp");
    background-size: cover;
}

.user-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* .navbar-dark .navbar-nav .nav-link {
    color: white;
    
} */

.navbar-dark .navbar-toggler {
    border-color: white;
    
}

.navbar-toggler:hover {
    color: #C5A880;
}

.btn {
    background-color: #C5A880;
    border: none;
}

.btn:hover {
    background-color: #ecbb70ce;
	color: white;
}

.lead-banner {
    color: #C5A880;
    font-weight: 400;
}
.ftco-section {
	padding: 8rem 0;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.ftco-intro {
    margin-top: -80px;
}

/* FTCO-ABOUT-SECTION */

.ftco-about-section .f-services {
    width: 100%;
    padding-top: 50px;
}

.ftco-about-section .icon {

    margin-bottom: 8px;
}

.ftco-about-section  span {

    font-size: 60px;
			line-height: 1.2;
			color: #C5A880;
}

.ftco-about-section .text {
    	background: white;
		transition-duration: 0.3s;
		-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);
		-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);
		box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);
				
}

/* .ftco-about-section h2 {
	
		font-weight: 400;
		font-size: 64px !important;

} */

.ftco-about-section  h3 {

    font-weight: 400;
    margin-bottom: 10px;
	
}



.ftco-about-section .text:hover {

				background: #222222;
				-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
				-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
				box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
				color: white;

}

/* FTCO-SERVICES-SECTION */

.ftco-services-section h2 {
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
}

.ftco-services-section span {

	font-size: 60px;
	line-height: 1.2;
	color: #C5A880;
}

.services {
	
	width: 100%;
	background: white;
	padding: 30px 20px;
	border-radius: 50% 50% 50% 0;
	transition-duration: 0.3s;

	-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);
	box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.06);

}
.services .icon {
	margin-bottom: 8px;
	
}

.sercices span {
	font-size: 70px;
	line-height: 1.2;
	color:#C5A880;
}

.services .text {
	width: 100%;

}

.services h2 {
	
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2px;
	font-family: 'Nunito', sans-serif;
}

.services:hover {
		background-color: #C5A880;
		-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
		-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
		box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.18);
		color: white;
		
}

 .services:hover span{
	color: white; 
	
} 


/* //ROOMS */
.room-wrap {
	background-color: white;
	margin-bottom: 60px;
	-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.04);
	box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.04);
	transition-duration: 0.3s;
}

.room-wrap .img {
	display: block;
	width: 100%;
	height: 280px;
	position: relative;
	z-index: 0;
}

.room-wrap:hover {
		-webkit-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.08);
		-moz-box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.08);
		box-shadow: 0px 5px 25px -2px rgba(0,0,0,0.08);
		background-color: rgba(0, 0, 0, 0.966);
		color: rgba(255, 255, 255, 0.849);
	
}

.room-wrap:hover img {
	opacity: 0.5;
}

.room-wrap:hover a {
	color: white;
}

/* TESTIMONIAL SECTION */

/* .testimony-section {
	position: relative;
	z-index: 0;

}

.testimony-section .tns-outer {
	position: relative;
	padding-bottom: 3em !important;
}
.testimony-section .tns-ovh {
	padding: 2em 0 0 0;
	
}

.testimony-section .tns-controls {
	text-align: center;
	margin-bottom: 10px;
}

.testimony-section .tns-nav{
	text-align: center;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.testimony-section .tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 0 5px;
	border-radius: 50%;
	background: #ddd;
	border: 0;

}
.testimony-wrap {
	display: block;
	position: relative;
	background: rgba(255,255,255,1);
	padding: 35px 30px 30px 30px !important;
	border-radius: 4px;
	width: 98%;
	margin: 0 auto;
	color: rgba(0,0,0,.8);

	-webkit-box-shadow: 0px 5px 12px -9px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px 5px 12px -9px rgba(0,0,0,0.17);
	box-shadow: 0px 5px 12px -9px rgba(0,0,0,0.17);
}

.testimony-wrap .icon {

	position: absolute;
		bottom: 0px;
		right: 0;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #C5A880;
}
.testimony-wrap span {
	color: white;
}
.testimony-wrap .tx {
	width: calc(100% - 80px);
}

.testimony-wrap .user-img {
	width: 80px;
		height: 80px;
		position: relative;
		border-radius: 50%;
}

.testimony-wrap .name {
	font-weight: 700;
		font-size: 22px;
		margin-bottom: 0;
		color: black;
}

.testimony-wrap .position {
	font-size: 13px;
		text-transform: uppercase;
		color: #C5A880;
		font-weight: 600;
}

.testimony-wrap .star {
	color: #C5A880;
} */

.ftco-gallery .gallery-wrap {
	width: 100%;
		height: 250px;
		display: block;
		position: relative;
		z-index: 0;
		margin-bottom: 15px;
}

.ftco-gallery .gallery-wrap:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	z-index: -1;
	background: black;
	opacity: 0;
	transition-duration: 0.3s;
}

.ftco-gallery  .icon {

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #C5A880;
	transition-duration: 0.3s;
	opacity: 0;
}

.ftco-gallery span {
	color: white;
}

.heading-section .subheading {
	font-size: 13px;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;

}

.ftco-gallery .gallery-wrap:hover {
	opacity: .3;
}

.heading-section h2 {
	font-size: 64px;
	font-weight: 400;
	line-height: 1.4;
}

@media only screen and (max-width: 768px) {
	.ftco-section{
		padding: 6em 0;
	}
	.services {
		border-radius: 2px;
		margin-bottom: 10px;
	}

	.heading-section h2 {
		font-size: 38px;
	}

	.room-wrap {
		margin-bottom: 40px;
	}

@media only screen and (max-width: 1200px) {
	.services {
		margin-bottom: 20px;
	}
}
}

.owl-carousel .item {
    height: 10rem;
    background: #f04124;
    display: flex;
    justify-content: center;
    align-items: center; font-size:70px; color:#fff;
}