---
import Subheading from '@components/elements/Subheading.astro';
import Container from '@components/elements/Container.astro';
import Button from '@components/elements/Button.astro';
import AboutCards from '@components/cards/AboutCards.astro';
import ParagraphsCard from '@components/cards/ParagraphsCard.astro';

import whealLake from '@assets/images/Wheal-Grey-Lake-Summer.webp';
import stmichael from '@assets/images/home-st-michaels.webp';
---

<section id='about-us'>
  <Subheading text='About us' className='text-center' />

  <Container className='grid grid-cols-1 midmd:grid-cols-2 gap-4 space-y-6'>
    <ParagraphsCard
      headingText='Love at First Sight'
      paragraphs={[
        {
          text: ' From the moment we first saw Tresowes Green Cottage we knew we had found a gem and it was a place we wanted to both live and to share with others. ',
        },
        {
          text: 'The peacefulness of this setting by the Wheal Grey Lake and its closeness to the spectacular coastline with its glorious beaches, hidden coves and wonderful amenities make it a wonderful place to live and visit.',
        },
      ]}
    />
    <AboutCards
      aboutContents={[
        {
          title: 'Wheal Grey Lake and the gardens',
          description:
            'Our beautiful garden offers unique views of the lake and an ideal place to relax by after a day out',
          iconName: 'mdi:basket',
          aboutCardImg: `${whealLake.src}`,
        },
        {
          title: 'Perfect Location',
          description:
            'Tresowes Green Cottage is located in a quiet hamlet but close to different attractions, picturesque villages and local beaches.',
          iconName: 'mdi:image-marker',
          aboutCardImg: `${stmichael.src}`,
          className: 'order-2',
        },
      ]}
    />
  </Container>
  <div class='w-full text-center'>
    <a href='/about'>
      <Button className={'w-1/3 text-white my-12'}>
        <span class='flex justify-center relative z-[5]'>Find Out More</span>
      </Button>
    </a>
  </div>
</section>
