---
import { YouTube } from '@astro-community/astro-embed-youtube';
import Container from '@components/elements/Container.astro';
import Subheading from '@components/elements/Subheading.astro';

import aerial from '@assets/images/home-tgc-and-lake-aerial.webp';
import Headings from '@components/elements/Headings.astro';
---

<Container
  className='border border-box-border bg-box-bg shadow-lg shadow-box-shadow rounded-md'
>
  <div class='flex flex-col items-center px-2 md:px-0'>
    <Subheading text='Walk by the lake with us' />

    <Headings text='Take A Look' variant='h4' />

    <YouTube
      id='https://youtu.be/mwyITWOOH9w'
      poster={aerial.src}
      class='w-full mx-auto mb-8'
    />
  </div>
</Container>
