---
import Icon from 'astro-icon';
export interface Props {
  title?: string;
  navItems: {
    itemText: string;
    faviconType?: string;
  }[];
}

const { title, navItems } = Astro.props;
---

<div class='space-y-6'>
  <p class='capitalize font-bold text-lg text-heading-2'>
    {title}
  </p>
  <ul class='space-y-4 text-base text-heading-3 font-semibold'>
    {
      navItems.map((navItem) => (
        <li>
          <Icon
            name={navItem.faviconType}
            class='h-6 dark:text-primary text-slate-600 inline pr-1'
          />
          {navItem.itemText}
        </li>
      ))
    }
  </ul>
</div>
