---
import { Icon } from 'astro-icon';


export interface Props{
    title:string,
    className?:string,
    navItems:{
        itemText:string,
        itemLink?:string,
        faviconType?: string
    }[]
}

const {title, className, navItems } = Astro.props



---

<nav class="space-y-6">
    <p class="capitalize font-bold text-lg text-heading-2">
        {title}
    </p>
    <ul class="space-y-4 text-heading-3 text-base font-semibold">
        {navItems.map((navItem)=>(
            <li>
                <Icon name={navItem.faviconType} class="h-6 dark:text-primary text-slate-600 inline pr-1"/>   
                <a href={navItem.itemLink} class=" hover:text-primary">
                    {navItem.itemText}
                </a>
                <span class="aria"></span>
            </li>
        ))
        }
        
    </ul>
</nav>