---
import TestimonialCard from '@components/cards/TestimonialCard.astro';

import type { Props as TestimonialCardProp } from '@components/cards/TestimonialCard.astro';

type Props = {
  testimonialCards: TestimonialCardProp[];
};

const { testimonialCards } = Astro.props;
---

<div
  class='grid gap-6 grid-cols-1 text-white md:grid-cols-2 lg:grid-cols-3 md:grid-rows-2'
>
  {
    testimonialCards.map((testimonialCard) => (
      <TestimonialCard {...testimonialCard} />
    ))
  }
</div>

