---
import Button from "../elements/Button.astro";
import HeroContainer from "../elements/HeroContainer.astro"
import Title from "../elements/Title.astro";
import Subheading from "../elements/Subheading.astro"

export interface Props {
    subheading: string,
    bannerTitle: string,
    bannerBtnText: string
}

const { subheading, bannerTitle, bannerBtnText } = Astro.props

---

<section>
    <HeroContainer className="border-b-2 dark:border-b-0 border-box-border shadow-2xl shadow-box-shadow rounded-md">
        <div
            class="lg:mx-0 p-5 sm:p-6 md:p-10 py-6 md:py-12 rounded-md  grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
        >
            <div class="text-center md:text-start md:ps-12 md:col-span-2">
                <Subheading text={subheading} className="capitalize"/>
                <Title text={bannerTitle} variant="h3" className="capitalize">
            </div>
            <div class="mx-auto mt-3">
                <a href="https://via.eviivo.com/TresowesTR13">
                <Button className={"min-w-max text-white px-12"}>
                    <span class="flex relative z-[5]"> 
                       
                       {bannerBtnText}</span>
                </Button>
                </a>
            </div>
        </div>
    </HeroContainer>
</section>
