---
import CarouselItem from '@components/elements/CarouselItem.astro';


const { carouselName } = Astro.props;
---

<div 
  class='swiper mySwiper max-w-2xl lg:ml-0 h-auto shadow-lg shadow-slate-200 dark:shadow-current rounded-xl'
>
  <!-- Additional required wrapper -->
  <div class='swiper-wrapper'>
    <!-- Slides -->
    {
      carouselName.map((item: { image: string; alt: string }) => {
        return <CarouselItem slideImg={item.image} slideAlt={item.alt} />;
      })
    }
  </div>
  <div class='swiper-button-prev text-white'></div>
  <div class='swiper-button-next text-white'></div>
</div>

<!-- <script is:inline src='/lib/js/swiper-bundle.min.js'></script>

<script is:inline>
 
  import Swiper from 'swiper';


  const swiper = new Swiper('.mySwiper', {
    centeredSlides: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script> -->


