---
import Layout from '@layouts/Layout.astro';
import Title from '@components/elements/Title.astro';
---

<Layout
  title='Page Not Found - Tresowes Green Cottage'
  description="Oops! The page you're looking for doesn't exist. Explore Tresowes Green Cottage, your serene Cornwall holiday destination, and discover charming holiday rental experiences."
>
    <section
      class='header relative h-full max-h-[650px] flex flex-col bg-cover bg-no-repeat bg-center'
    >
      <div
        class='text-container relative flex flex-col items-center text-center lg:text-center py-60 lg:max-w-3xl max-w-3xl mx-auto lg:flex-1'
      >
        <h1 class='text-4xl sm:text-5xl md:text-6xl xl:text-7xl dark:text-neutral-100 font-serif font-extralight my-6 uppercase '>
          Oops!
        </h1>
        <h2 class="text-4xl sm:text-5xl md:text-6xl xl:text-7xl dark:text-neutral-100 font-serif font-extralight ">Page Not Found!</h2>
        <div class='text-center mt-5 md:col-span-3'>
          <Title
            text="The page you're looking for doesn't exist."
            variant='h3'
            className='capitalize text-center px-4'
          />
        </div>
      </div>
    </section>
</Layout>
