---
import Layout from '@layouts/Layout.astro';
import Main from '@components/elements/Main.astro';
import Hero from '@components/sections/Hero.astro';
import Headings from '@components/elements/Headings.astro';
import theLake from '@assets/images/home-the-lake.webp';

---

<Layout
  title='Welcome to Tresowes Green Cottage - Your Cornwall Holiday Retreat'
  description='Our privacy policy for the website.'
>
  <Main>
    <Hero
      styleUrl={theLake.src}
      paragraph=' Enjoy your wonderful holidays with a getaway experience'
      title='Most Relaxing Place in West Cornwall'
      btnText='GTexttarted'
      btnHref='#showcase'
      subheading='welcome to your destination in cornwall'
      bannerTitle='Find Your Best Cottage'
      bannerBtnText='Book Your Stay'
    />

    <section class='mx-auto mt-24 mb-12 max-w-5xl space-y-6 px-8 md:px-20 dark:text-neutral-50 '>
      <Headings text='Privacy Policy' variant='h2' />
      <div class=''>
        <p>
          Tresowes Green Cottage is committed to ensuring that your privacy is
          protected. Should we ask you to provide certain information by which
          you can be identified when using this website, then you can be assured
          that it will only be used in accordance with this privacy statement.
        </p>
      </div>
      <h3>About this policy</h3>
      <p>
        The Data Controller (the organisation responsible for looking after your
        data) is Tresowes Green Cottage (TGC). TGC is committed to protecting
        your information and you have a right to know how we will use it. This
        policy follows the guidelines of GDPR (General Data Protection
        Regulation) which supersedes the Data Protection Act 1998 from 25th May
        2018.
      </p>
      <p>This policy covers our dealings with private individuals either as:</p>
      <ul class='list-disc inline-block pl-10 space-y-2'>
        <li>
          guests - people who have booked or are looking for a booking through
          us.
        </li>
        <li>
          contractors and staff - people who help maintain and prepare the
          property ready for the guests arrival or have enquired to become a
          contractor.
        </li>
      </ul>
      <p>
        As the lead guest must be over the age of 18 we do not collect personal
        information from children.
      </p>
      <p>
        We will continue to update our Privacy and Cookies Policy as data
        protection law or business practices change and the latest version of
        this policy can be found on our website www.tresowesgreencottage.com .
        This version of the policy is effective from 9th May 2018.
      </p>
      <h3>Data Protection Contact Details</h3>
      <p>
        For queries regarding data protection we may be contacted via telephone
        01736 763 669, email info@tresowesgreencottage.com or via post to
        Tresowes Green Cottage, Tresowes, Ashton, Helston, TR13 9SY United
        Kingdom.
      </p>
      <h3>Your rights</h3>
      <p>
        We use your data in order to process your booking and with your consent,
        send you direct marketing via email or post. You have the right to
        withdraw this consent at any time. All our marketing communications
        include an unsubscribe link to make it easy to withdraw consent. If you
        have a booking and you have not yet stayed, we&apos;ll still need to
        hold onto your data, so we can contact you regarding your booking. If
        you are concerned about the processing of your data, please contact us
        at info@tresowesgreencottage.com.
      </p>

      <p>The GDPR includes the following rights for individuals. The right</p>

      <ul class='list-disc inline-block pl-10 space-y-2'>
        <li>to be informed</li>
        <li>of access</li>
        <li>to rectification</li>
        <li>to be forgotten</li>
        <li>to data portability</li>
        <li>to object; and</li>
        <li>
          not to be subject to automated decision-making including profiling.
        </li>
      </ul>

      <p>
        To exercise your rights, please contact us in writing either by email or
        post.
      </p>

      <h3>
        Personal information we collect and record
      </h3>
      <ul class='list-disc inline-block pl-10 space-y-2'>
        <li>Identification: name, title.</li>
        <li>
          Contact details: postal address, phone numbers, email address(es).
        </li>
        <li>
          Bookings: property booked, arrival/departure dates, cost of booking,
          amounts paid, plus if you are bringing any dogs with you
        </li>
        <li>
          Marketing preferences: whether you wish to receive marketing
          information from us by email.
        </li>
        <li>
          Payment: method, the last four digits of card numbers, payment card
          expiry date, amounts collected, third party payment service provider
          references, if applicable bank details (to pay damage deposit back to
          your account). Please note that we do not capture or store your full
          card details: payment is processed in the booking page provided by
          eviivo suite and the secure payment provider Global Payments. Payments
          made via third party providers, e.g. AirBnB, HomeAway, Booking.com etc
          are subject to their GDPR policies and we do not keep any records of
          guests payment cards or bank details.
        </li>
        <li>
          Browsing: historical searches, how you use our website, website
          experience, user survey responses, the devices and IP addresses you
          use to access our services (operating system, browser). We collect
          this information so that we can continuously improve our website and
          our service to you.
        </li>
        <li>
          Guest feedback: any feedback you leave via feedback forms, on-line
          reviews or in visitor books.
        </li>
        <li>
          Communication with us: emails, letters, customer service cases,
          feedback forms, your interaction with our marketing (for example,
          opening our newsletter emails, clicking on links within the email – we
          track this to help ensure our communications are relevant and
          interesting).
        </li>
        <li>Using our website: cookies, IP addresses.</li>
        <li>Specific to contractors: contact details and bank details</li>
      </ul>
      <p>
        We advertise our properties on third party websites and we may receive
        some of the above information from other companies you use. In such
        cases, those companies must also inform you about their use of your
        data.
      </p>
      <h3>How we collect personal information</h3>
      <ul class='list-disc inline-block pl-10 space-y-2'>
        <li>
          From you, as you provide it to us (e.g. when booking, leaving a review
          or enquiring about letting a property)
        </li>
        <li>Your use of our website</li>
        <li>
          Third party websites that you may book with which advertise our
          properties
        </li>
        <li>
          Your interaction with our marketing activities (provided you have not
          unsubscribed)
        </li>
      </ul>
      <h3>Legal basis of processing</h3>
      <p>
        There are several grounds on which we will store and use your data. As
        follows:
      </p>
      <ul class='list-disc inline-block pl-10 space-y-2'>
        <li>
          Consent: TGC rely on your consent to use your data for marketing
          purposes. You may withdraw your consent at any time.
        </li>
        <li>
          Contract: much of the time, your data is used for matters concerning
          your booking. We store relevant data for up to seven years from the
          date the contract ends - i.e. the last day of your stay.
        </li>
        <li>
          Legal obligations: TGC are under certain binding legal obligations,
          such as accounting to the government for tax and making financial
          records available for audit. In such cases, we are typically obliged
          to retain data for up to seven years from the date of the transaction.
        </li>
        <li>
          We do not share your personal information. We do not reveal
          information about identifiable individuals to our advertisers like
          Google, but we may provide them with aggregated statistical
          information about visitors to our website.
        </li>
      </ul>
      <h3>Security of your data</h3>
      <p>We protect your data with various technological measures. We also regularly test and evaluate the security of our systems, updating safeguards as appropriate. </p>
      <h3>Payment service providers</h3>
      <p>In order to ensure your transactions are as secure as possible, we hand over payment card processing to Global Payments 51 De Montford Street, Leicester, LE1 7BB </p>
      <h3>Internet advertising</h3>
      <p>We allow some third party advertisers to place cookies on our websites – and from there, in your browser. Please note that you may use your browser’s controls to disable cookies at any time. </p>
    </section>
  </Main>
</Layout>

<style>
  h3 {
    text-align: start;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  p, li {
    font-weight: 300;
  }
</style>
