---
export interface Props{
    href:string,
    text:string,
    className?:string,
  
}

const {href, text,className } = Astro.props

---

<a href={href} class={`px-4 py-1 bg-primary border-transparent hover:border-slate-700 rounded-md outline-none relative overflow-hidden border duration-300 ease-linear
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-slate-700
                   hover:after:opacity-100 hover:after:scale-[2.5] ${className}`}>
    <span class= "text-white font-sembibold z-10">
        {text}
    </span>
</a>