---
import { Image } from 'astro:assets';
export interface Props {
  slideImg: string;
  slideAlt: string;
}
const { slideImg, slideAlt } = Astro.props;
---

<div class='swiper-slide flex rounded-xl'>
  <Image
   src={slideImg} alt={slideAlt} width='672' height='400' />
</div>

