---
    export interface Props {
    text: string;
    className?: string;
    variant: "h1" | "h2" | "h3" | "h4" | "h5" ;
  }
    const { text, className, variant } = Astro.props;
  
    const Heading = variant;
---

    <section class={`text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-heading-1 text-center font-serif leading-tight  ${className}`}>
      <Heading>{text}</Heading>
    </section>
  
